<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - Site v3</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/Favicon.png">
    <script async src="/script/posthog.js"></script>
</head>

<body>
  <nav class="navbar">
    <h1>{{ .Title }}</h1>
  </nav>

  <section class="hero">
    <div class="hero-box">
      <p class="blog-date">{{ .Date.Format "January 2, 2006" }}</p>
      {{ .Content }}
    </div>
  </section>

</body>

<footer>
  <a href="/blog/" class="back-button">← Back to Blog</a>
  <script async src="/script/tracking.js"></script>
  <script async src="/script/wisdom.js"></script>
</footer>
</html>
